[submodule ".vim/bundle/a.vim"]
	path = .vim/bundle/a.vim
	url = git://github.com/vim-scripts/a.vim
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = git://github.com/bling/vim-airline
[submodule ".vim/bundle/colors-solarized"]
	path = .vim/bundle/colors-solarized
	url = git://github.com/thomwiggers/vim-colors-solarized
[submodule ".vim/bundle/incbool"]
	path = .vim/bundle/incbool
	url = https://github.com/can3p/incbool.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
