[submodule ".vim/bundle/a.vim"]
	path = .vim/bundle/a.vim
	url = git://github.com/vim-scripts/a.vim
[submodule ".vim/bundle/ctrlp-z"]
	path = .vim/bundle/ctrlp-z
	url = git://github.com/amiorin/ctrlp-z
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = git://github.com/bling/vim-airline
[submodule ".vim/bundle/colors-solarized"]
	path = .vim/bundle/colors-solarized
	url = git://github.com/thomwiggers/vim-colors-solarized
